<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->

<div class="site-preloader">
    <div class="loader-text" data-text="e28886">e28886</div>
  </div>