<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')%>
 
  <body>

    <%- include('includes/header')%>

      <main>
        <h1>Welcome to e28811</h1>
        <p>
          Release your research papers for free online using our interactive
          dashboard.
        </p>
      </main>

      <%- include('includes/footer')%>
 
  </body>
</html>