<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e28811 &mdash; Release research papers</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <header>
        <h1>e28811.tech</h1>
        <nav>
          <a href="/">Home</a> /
          <a href="login">Login</a>
        </nav>
      </header>

      <main>
        <h1>Welcome to e28811</h1>
        <p>
          Release your research papers for free online using our interactive
          dashboard.
        </p>
      </main>


      <footer>
        <p>
          Copyright &copy;
          <a href="https://wakati.tech" target="_blank">Wakati</a>. All rights
          reserved.
        </p>
      </footer>
 
  </body>
</html>