<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')%>
 
  <body>

    <%- include('includes/header')%>

      <main>
        <h1>Welcome to e28811</h1>
        <p>
          Release your research papers for free online using our interactive
          dashboard.
        </p>

        <form action="/register" method="POST">
          <fieldset>
            <legend>Sign Up</legend>
  
            <label for="username">Username</label>
            <input
            name="username"
            type="text"
            id="username"
            autocomplete="off"
            required/>
            <br />
  
            <label for="password">Password</label>
            <input
              name="password"
              type="password"
              id="password"
             autocomplete="off"
              required
            />
            <br />
  
            <button type="submit">Sign Up</button>
          </fieldset>
        </form>
      </main>

      <%- include('includes/footer')%>
 
  </body>
</html>