<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e28811 &mdash; Login Page</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <header>
        <h1>e28811.tech</h1>
        <nav>
          <a href="/">Home</a> /
          <a href="login">Login</a>
        </nav>
     </header>
     

     <main>
        <form>
            <fieldset>
             <legend>User registration form</legend>


            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="off" />
            <br />


            <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
          />
          <br />

          <button type="submit">Sign Up</button>
        </fieldset>
        </form>
     </main>


     <footer>
        <p>
          Copyright &copy;
          <a href="https://wakati.tech" target="_blank">Wakati</a>. All rights
          reserved.
        </p>
      </footer>
    
</body>
</html>